@using TestTemplate.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model X.PagedList.IPagedList<NongSan>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhMucNongSan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh mục nông sản hiện có</h1>

<p>
    <a asp-action="ThemNongSanMoi" class="btn btn-xs btn-success">Thêm mới nông sản</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên nông sản
            </th>
            <th>
                Giá bán
            </th>
            <th>
               Số lượng tồn kho 
            </th>
            <th>
                Đơn vị tính
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNongSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTonKho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTinh)
            </td>
           
            <td>
                <a asp-controller="Home" asp-action="ChiTietNongSan" asp-route-maNongSan="@item.MaNongSan">Chi tiết</a> |
                <a  asp-action="XoaNongSan" asp-route-maNongSan="@item.MaNongSan">Xóa</a>  |
                <a  asp-action="SuaNongSan" asp-route-maNongSan="@item.MaNongSan">Sửa</a> |
                <a  asp-action="ThemAnhNongSan" asp-route-maNongSan="@item.MaNongSan">Tải ảnh</a>
                
                
            </td>
        </tr>
}
    </tbody>
</table>
<div class="product__pagination">
    @Html.PagedListPager(Model , page => Url.Action("DanhMucNongSan",new{page=page}))
</div>

