@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChiTietNongSan";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
@model TestTemplate.Models.NongSan
<div class="col-xl-5 col-lg-5 col-md-6">
    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"> <img class="d-block w-100" src="@Url.Content("../img/"+ Model.DuongDanAnh)" alt="First slide"> </div>
            <div class="carousel-item"> <img class="d-block w-100" src="@Url.Content("../img/"+ Model.DuongDanAnh)" alt="Second slide"> </div>
            <div class="carousel-item"> <img class="d-block w-100" src="@Url.Content("../img/"+ Model.DuongDanAnh)" alt="Third slide"> </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                <img class="d-block w-100 img-fluid" src=@Url.Content("../img/"+ Model.DuongDanAnh)" alt="" />
            </li>
            <li data-target="#carousel-example-1" data-slide-to="1">
                <img class="d-block w-100 img-fluid" src=@Url.Content("../img/"+ Model.DuongDanAnh)" alt="" />
            </li>
            <li data-target="#carousel-example-1" data-slide-to="2">
                <img class="d-block w-100 img-fluid" src=@Url.Content("../img/"+ Model.DuongDanAnh)" alt="" />
            </li>
        </ol>
    </div>
</div>
<div class="col-xl-7 col-lg-7 col-md-6">
    <div class="single-product-details">
        <h2>@Model.TenNongSan</h2>
        <h5> <del>@Model.GiaBan</del> @Model.GiaBan</h5>
        <p class="available-stock"><span> Hiện tại vẫn còn @Model.SoLuongTonKho trong kho </span><p>
            <h4>Nhà cung cấp </h4>
        <p>
            @Model.MaNhaCungCap
        </p>
        <ul>
            <li>
                <div class="form-group quantity-box">
                    <label class="control-label">Quantity</label>
                    <input class="form-control" value="0" min="0" max="20" type="number">
                </div>
            </li>
        </ul>

        <div class="price-box-bar">
            <div class="cart-and-bay-btn">
                <a class="btn hvr-hover" data-fancybox-close=""  >Buy New</a>
                <a class="btn hvr-hover" data-fancybox-close="" href="#">Add to cart</a>
            </div>
        </div>

        <div class="add-to-btn">
            <div class="add-comp">
                <a class="btn hvr-hover" href="#"><i class="fas fa-heart"></i> Add to wishlist</a>
                <a class="btn hvr-hover" href="#"><i class="fas fa-sync-alt"></i> Add to Compare</a>
            </div>
            <div class="share-bar">
                <a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                <a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                <a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                <a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

