@{
    Layout = null;
}

@model TaiKhoan

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register - Nông sản</title>

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link href="../admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Tạo tài khoản mới</h5>
                                        <p class="text-center small">Điền các thông tin dưới đây</p>
                                    </div>

                                    @using (Html.BeginForm("Register", "Access", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="col-12">
                                            <label for="MaTaiKhoan" class="form-label">Mã Tài Khoản</label>
                                            @Html.TextBoxFor(x => x.MaTaiKhoan, new { @class = "form-control", required = "required" })
                                            <div class="invalid-feedback">Vui lòng nhập mã tài khoản.</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="TenTaiKhoan" class="form-label">Tên Tài Khoản</label>
                                            @Html.TextBoxFor(x => x.TenTaiKhoan, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                                            <div class="invalid-feedback">Vui lòng nhập tên tài khoản.</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="MatKhau" class="form-label">Mật khẩu</label>
                                            @Html.PasswordFor(x => x.MatKhau, new { @class = "form-control", required = "required" })
                                            <div class="invalid-feedback">Vui lòng nhập mật khẩu!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="ConfirmMatKhau" class="form-label">Xác nhận mật khẩu</label>
                                            @Html.PasswordFor(x => x.ConfirmMatKhau, new { @class = "form-control", required = "required" })
                                            <div class="invalid-feedback">Vui lòng xác nhận mật khẩu!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="MaKhachHang" class="form-label">Chọn khách hàng</label>
                                            @if (ViewBag.KhachHangs != null && ((List<TestTemplate.Models.KhachHang>)ViewBag.KhachHangs).Any())
                                            {
                                                @Html.DropDownListFor(x => x.MaKhachHang, new SelectList((List<TestTemplate.Models.KhachHang>)ViewBag.KhachHangs, "MaKhachHang", "TenKhachHang"), "- Chọn khách hàng -", new { @class = "form-control", required = "required" })
                                            }
                                            else
                                            {
                                                <div class="invalid-feedback">Không có khách hàng nào để chọn.</div>
                                            }

                                        </div>


                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Đăng ký</button>
                                        </div>

                                        <div class="col-12">
                                            <p class="small mb-0">Đã có tài khoản? <a href="Login">Đăng nhập</a></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="../admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
